*.vsidx
*.vsidx
QLKhoHang/.vs/QLKhoHang/v17/DocumentLayout.backup.json
QLKhoHang/.vs/QLKhoHang/v17/DocumentLayout.json
QLKhoHang/.vs/QLKhoHang/v17/.suo
QLKhoHang/.vs/ProjectEvaluation/qlkhohang.metadata.v9.bin
QLKhoHang/.vs/ProjectEvaluation/qlkhohang.projects.v9.bin
QLKhoHang/.vs/ProjectEvaluation/qlkhohang.strings.v9.bin
QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.430.18484/CodeChunks.db
QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.430.18484/CodeChunks.db-shm
QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.430.18484/CodeChunks.db-wal
QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.430.18484/SemanticSymbols.db
QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.430.18484/SemanticSymbols.db-shm
QLKhoHang/.vs/QLKhoHang/CopilotIndices/17.13.430.18484/SemanticSymbols.db-wal
QLKhoHang/.vs/QLKhoHang/DesignTimeBuild/.dtbcache.v2
QLKhoHang/.vs/QLKhoHang/FileContentIndex/150864d2-848c-4b6e-9d23-76e1587c19ac.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/23e7225f-8e10-4703-a95a-b5177b399f39.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/7fbabc42-7c42-4b00-88a0-0ef099b978f4.vsidx
QLKhoHang/.vs/QLKhoHang/FileContentIndex/816660b2-ddeb-4ea1-a8a1-4ca298eb3a95.vsidx
QLKhoHang/.vs/QLKhoHang/v17/.futdcache.v2
*.bin
*.db
*.db-shm
*.db-wal
*.db-wal
*.v2
frontend/package-lock.json
frontend/package.json
